/* PC,スマホ共通スタイル */
body {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo",
    "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  max-width: 1340px;
  min-width: 960px;
  margin: 0 auto;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  display: block;
  height: auto;
}

img {
  display: block;
}

p {
  font-size: 15px;
  line-height: 1.8rem;
}
section {
  margin-top: 100px;
  width: 100%;
}
.section-logo {
  width: 20%;
  padding: 20px;
}
h1 {
  font-size: 24px;
  line-height: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 22px;
  line-height: 2rem;
  font-weight: 400;
}
h2 {
  font-size: 20px;
}
h5 {
  width: 20%;
  margin: 20px;
}
h6 {
  font-family: "YuMincho";
  font-size: 18px;
  line-height: 2rem;
  font-weight: 400;
  margin: 15px;
}
/* ----------------------
  ヘッダー
   ---------------------- */
header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header::after {
  content: "";
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #262627;
  position: absolute;
  bottom: 0px;
}
.top-logo img {
  width: 50%;
}
#nav-pc img {
  width: 30%;
}
#nav-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  margin-top: 40px;
  background-color: #3d7550;
  width: 630px;
  height: 70px;
  padding-left: 20px;
}
#nav-pc a {
  color: #fff;
  width: 100px;
  text-align-last: center;
}
/* #nav-pc > a:link {
  color: #0d0d0d;
} */
#nav-pc > a:hover {
  color: #888484;
  text-decoration: underline;
}
#nav-pc > a:active {
  color: #0d0d0d;
}
#main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 30px;
}
.main-massage {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 50px;
}
/* .mv-photo {
  position: absolute;
  z-index: 0;
} */
/* .single-item img {
  width: 90%;
  object-fit: cover;
} */
.mv-photo-mini {
  direction: rtl;
}

.mv-photo-mini img {
  width: 25%;
  margin: 20px;
}

.swiper {
  width: 100%;
  height: 400px;
}
/* ----------------------
  ページトップ
  ---------------------- */
.page-top {
  width: 100%;
}
.page-top img {
  margin: 0 auto;

  padding: 20px;
}
/* ----------------------
  フッター
  ---------------------- */

footer {
  background-color: #3d7550;
  color: #fff;
  text-align: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-link a {
  color: #fff;
  padding: 20px;
}

.footer-link a:hover {
  color: #888484;
  text-decoration: underline;
}
.footer-link a:active {
  color: #0d0d0d;
}
#copyright {
  padding: 20px;
}
/* ----------------------
  SHOP
   ---------------------- */
.sidebar {
  width: 100%;
  padding: 10px;
}
.item {
  width: 100%;
  display: flex;
}
#items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#item-top,
#item-center,
#item-end {
  padding-bottom: 60px;
  margin-bottom: 60px;
}
#item-top,
#item-end {
  background-color: #f7f5e9;
}
.item img {
  width: 80%;
  margin: 0 auto;
}
.item h5 img {
  width: 80%;
}
.beauty-wrapper,
.food-wrapper,
.fashion-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.item-beauty,
.item-food,
.item-fashion {
  text-align: center;
}
.shop-btn {
  background-color: #262627;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.shop-btn:hover {
  background-color: #3d7550;
}
.section_subtitle {
  /* text-decoration: underline; */
}
.sidebar_categories li {
  list-style: none;
}
.sidebar_categories li a {
  color: #000;
}
.sidebar_categories li a:hover {
  color: #3d7550;
}
/* ----------------------
  スマホスタイル
   ---------------------- */
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }
  #main-visual {
    height: 40vh;
  }
  .main-massage {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .main-massage img {
    width: 50%;
  }
  .about-top-wrap {
    display: flex;
    flex-direction: column;
  }
  .about-top-left,
  .about-top-right {
    width: 100%;
    margin-top: 110px;
  }
  .about-end {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
  }
  .about-end-right {
    margin-top: 450px;
  }
  #product {
    margin-top: 250px;
  }
  .product-top,
  .product-center,
  .product-end {
    display: flex;
    flex-direction: column;
  }
  .product-top-left,
  .product-top-right,
  .product-center-left,
  .product-center-center,
  .product-center-right,
  .product-end-left,
  .product-end-right {
    width: 100%;
  }
  .news-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .news-text-left,
  .news-text-right {
    width: 100%;
  }
  #contact {
    margin: 300px 0 0 0;
  }
  .contact-photo {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .contact-photo-top1,
  .contact-photo-top2,
  .contact-photo-top3 {
    width: 100%;
  }
  .contact-photo-top1 img,
  .contact-photo-top2 img {
    width: 100%;
  }
  .footer-link {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  /* shop html */

  .beauty-wrapper,
  .food-wrapper,
  .fashion-wrapper {
    display: block;
  }

  .item-beauty,
  .item-food,
  .item-fashion {
    width: 100%;
  }
}
